# Chrome Extension Builds
# ========================
*.crx
*.pem

# macOS
# ========================
.DS_Store
Thumbs.db

# ========================
.vscode/
.idea/
*.swp
*~

# その他
# ========================
node_modules/
.env